body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9e8e8;
}

header {
    background-color: #0047ab; /* Blauw */
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #ffd700; /* Geel */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #0047ab;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0047ab;
}

p {
    font-size: 18px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #0047ab;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0047ab;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003580;
}
